$header-background: #1B2C74;

$menu-item-text-color  : #566170;
$menu-item-icon-active : #2C79E7;

$white-skin-color : #FFFFFF;
$grey-skin-color  : #F2F4F6;

$default-btn : #0DB4A7;
$secondary-btn : #00A9E0;
$yellow-btn : #FBB03B;
