$layout-padding-big: 15px;
$layout-padding-small: 5px;

$left-menu-width : 240px;

$border-radius-small : 10px;
$border-radius-small : 20px;

$default-transition-duration: 240ms !default;

$font-family-INTER: 'Inter', sans-serif;
$font-family-ROBOTO: 'Roboto', sans-serif;
